a{
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
li{
    list-style-type: none;
}

/* header */
.w-header .inner{
    justify-content: space-between;
    align-items: center;
}
.w-header .inner a{
    align-items: center;
    color: var(--dark) !important;
    list-style-type: none; 
}
.w-header .inner .silicon{
    font-size: 25px;
    font-weight: 300;
}
.w-header .inner .menu-btn,
.w-header .inner .inner-header .menu{
    display: flex;
    align-items: center;
    margin: 0 !important;
}
.w-header .inner .inner-header .menu .menu-vector,  
.w-header .inner .menu-btn-buy button{
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .w-header .inner .menu-btn-buy{
        display: none ;
    }
    .w-header .inner .menu-icon-list{
        display: inline !important;
        cursor: pointer;
    }
    .w-header .inner .inner-header .menu-icon-close{
        position: absolute;
        right: 20px;
        top: 5px;
        width: 90%;
        padding-top: 10px;
        display: flex !important;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;

    }
    .w-header .inner .inner-header{
        position:fixed;
        top: 0;
        background-color:  var(--white);
        width: 60%;
        height: 100vh;
        z-index: 100;
        transition: .5s;
        padding: 35px 0;
        right: -100%;
    }
    .show{
        right: 0 !important;
    }
    .w-header .inner .inner-header .menu{
        margin-top: 20px !important;
        flex-direction: column;
        border-top: 1px solid #dee2e6;
    }
    .w-header .inner .inner-header .menu .menu-item{
        margin: 15px;        
    }
}



/* nav */
.nav-home{
    justify-content: center;
    align-items: center;
}
.nav-home li{
    align-items: center;
}
.nav-home .cursor{
    cursor: pointer;
    font-style: none !important;
}






/* section 1 */
.title-img{
    position: relative;
    width: 100%;
    height: 700px;
    z-index: 0;
}

.bgimg{
    width: 100%;
    height: 700px;
    left: 0px;
    top: -120px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* section 2 */
.text-who {
    position: relative;
}
.text-who-separate::after{
    position: absolute;
    content: "";
    display: block;
    border: 1px solid #dee2e6;
    width: 100%;
    right: 0;
    top: 90px;
}





/* section 3 */
.row-center{
    justify-content: center;
}
.card-body{
    align-items: center;
}
.card .card-body h3{
    font-size: 40px;
}




/* section 4 */
.we-img{
    align-items: center;
    justify-content: space-between;
}
.we-img a{
    align-items: center;
}
.img-btn{
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.btn-icon{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.btn-icon .btn-a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    border-radius: 50%;
}
.img-btn .gallery-caption{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(10px);
}
.img-btn .btn-icon:hover .btn-a{
    color: var(--white) !important;
    background-color: var(--primary) !important;
}
.zoom-img{
    position: relative;
}
.zoom-img img{
    position: relative;
    border-radius: 10px;
}
.zoom-img .gallery-caption{
    position: absolute;
    font-size: 15px;
    top: 0;
    left: 0;
    transform: translateX(10px);
}
.zoom-img .zoom{
    position: absolute;
    display: none !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.zoom-img:hover .zoom{
    display: flex !important;
}
@media (max-width:1199px){
    .gallery .zoom-img .imggirl{
        height: 207px !important;
    }

}
@media (max-width:991px){
    .gallery .zoom-img .imggirl{
        height: 148px !important;
    }
}
@media (max-width:767px){
    .gallery .zoom-img .imggirl{
        height: 410px !important;
    }
}






/* section 5 */
.logo-image .logo-shadow{
    width: 165px ;
}
.logo-image .logo-shadow:hover{
    cursor: pointer;
    box-shadow:0 .3rem .5rem rgba(0,0,0,.175) ;
}
.logo-border{
    border: 1px solid var(--gray);
    border-radius: 10px;
}
.logo-image .slick-dots{
    position: absolute;
    bottom: -40px;
    left: 48%;
    transform: translate(-48%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}




/* section 6 */
.card .bg-gradient-primary{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.card .card-body-left{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card .card-body-left .bg-clutch{
    cursor: pointer;
    border-radius: 10px;
}
.card .btn{
    justify-content: space-between;
}
.card .btn .btn-item{
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: unset !important    ;
}
.image-slider{
    position: relative;
}
.slider-img{
    align-items: center;
}
.slider-img img{
    width: 60px;
    border-radius: 50%;
}
.image-slider .slick-prev{
    right: 70px;
}
.image-slider .slick-next{
    right: 15px;
}
.image-slider .slick-prev,
.image-slider .slick-next{
    position: absolute;
    border: none;
    top: -80px;
    background-color: var(--white);
    padding: 7px 14px;
    border-radius: 50%;
}
.image-slider .slick-prev:hover,
.image-slider .slick-next:hover{
    color: var(--white);
    background-color: var(--primary);
}
.image-slider .slick-dots {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}
.slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    background-color: var(--gray);
    border: none;
    outline: none;
    transition: all 0.2s linear;
}
.slick-dots .slick-active button {
    width: 30px;
    height: 10px;
    background-color: var(--primary);
}





/* section 7 */
.social-links{
    align-items: center;
}
.social-links .social-link .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.social-links .social-link .social:hover{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.175) ;
}
.social-links .social-link .social .social-network .btn-facebook:hover,
.social-links .social-link  .social .social-network .btn-linkedin:hover,
.social-links .social-link  .social .social-network .btn-twitter:hover{
    border: 0;
    color: var(--white);
    background-color: var(--primary);
}
.social-links .slick-dots{
    position: absolute;
    bottom: -35px;
    left: 48%;
    transform: translate(-48%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}





/* footer */
.w-footer{
    text-align: unset;
}
.w-footer p{
    opacity: 0.7;
}
.w-footer .logo-footer{
    display: flex;
    align-items: center;
}
.w-footer .text-social a:hover{
    cursor: pointer !important;
    color: var(--primary);
}
@media (max-width: 991px){
    .useful,
    .text-social{
        display: none;
    }
    .w-footer p{
        text-align: center;
    }
}


@media (max-width: 991px){
    h2{
        font-size: 35px !important;
    }
}
@media (max-width: 767px){
    h2{
        font-size: 25px !important;
    }
}      