a{
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
li{
    list-style-type: none;
}


/* header */
.w-header .inner{
    justify-content: space-between;
    align-items: center;
}
.w-header .inner a{
    align-items: center;
    color: var(--dark) !important;
    list-style-type: none; 
}
.w-header .inner .silicon{
    font-size: 25px;
    font-weight: 300;
}
.w-header .inner .menu-btn,
.w-header .inner .inner-header .menu{
    display: flex;
    align-items: center;
    margin: 0 !important;
}
.w-header .inner .inner-header .menu .menu-vector,  
.w-header .inner .menu-btn-buy button{
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .w-header .inner .menu-btn-buy{
        display: none ;
    }
    .w-header .inner .menu-icon-list{
        display: inline !important;
        cursor: pointer;
    }
    .w-header .inner .inner-header .menu-icon-close{
        position: absolute;
        right: 20px;
        top: 5px;
        width: 90%;
        padding-top: 10px;
        display: flex !important;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;

    }
    .w-header .inner .inner-header{
        position:fixed;
        top: 0;
        background-color:  var(--white);
        width: 60%;
        height: 100vh;
        z-index: 100;
        transition: .5s;
        padding: 35px 0;
        right: -100%;
    }
    .show{
        right: 0 !important;
    }
    .w-header .inner .inner-header .menu{
        margin-top: 20px !important;
        flex-direction: column;
        border-top: 1px solid #dee2e6;
    }
    .w-header .inner .inner-header .menu .menu-item{
        margin: 15px;        
    }
}




/* section 1 */
.section{
    position: relative;
}
.section .bg-img{
    width: 100%;
    height: 700px;
    top: -100px;
    left: 0;
    position: absolute;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section .nav-home{
    justify-content: center;
    align-items: center;
}
.section .nav-home li{
    align-items: center;
}
.section .nav-home .cursor{
    cursor: pointer;
    font-style: none !important;
}
.section .clutch{
    width: 175;
}
.section .content{
    font-size: 25px;
    font-weight: 300;
    color: var(--gray);
}
@media (max-width: 991px) {
    .section{
        margin: 0 !important;
    }
    .section .bg-img{
        height: 960px;
    }
    .section .nav-home{
        margin-bottom: 0 !important;
    }
    .section .col-img{
        padding-top: 0 !important;
    }
    .img-h1{
        height: 387px;
    }
    .img-h2{
        height: 359px;
    }
}
@media (max-width: 767px){
    .img-h1{
        height: 281px;
    }
    .img-h2{
        height: 261px;
    }
} 



/* section 2 */
.wrapper .text-center{
    position: relative;
    padding: 0 10px;
}
.wrapper .text-center-separate::after{
    position: absolute;
    content: "";
    display: block;
    border: 1px solid #dee2e6;
    height: 190px;
    right: 0;
    top: 0;
}
.wrapper .text-center p{
    color: var(--gray);
}
.slick-slide img{
    display: inline-block;
}
@media (max-width: 991px) {
    .wrapper .text-center-separate::after{
        display: none;
    }
    .wrapper .text-center h4{
        font-size: 22px;
    }
    .wrapper .text-center p{
        font-size: 15px;
    }
}




/* section 3 */
.img-btn{
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.btn-icon{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.btn-icon .btn-a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    border-radius: 50%;
}
.btn-icon .btn-a:hover{
    color: var(--white) !important;
    background-color: var(--primary) !important;
}




/* section 4 */
.webby,
.cssda,
.awwards,
.fwa{
    text-align: center;
}
@media (max-width: 991px){
    .font-h2{
        font-size: 26px;
        font-weight: 400;
    }
    .font-a{
        font-size: 10px
    }
}
@media (max-width: 767px){
    .title-h2{
        display: flex;
        justify-content: center;
    }
} 





/* section 5 */
.card .bg-gradient-primary{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 20;
    background: linear-gradient(90deg, #6366f1 0%, #8b5cf6 50%, #d946ef 100%);
}
.card .card-body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card .btn{
    justify-content: space-between;
}
.card .btn .btn-item{
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: unset !important    ;
}
.image-slider{
    position: relative;
}
.slider-img{
    align-items: center;
}
.slider-img img{
    width: 60px;
    border-radius: 50%;
}
.image-slider .slick-prev{
    right: 70px;
}
.image-slider .slick-next{
    right: 15px;
}
.image-slider .slick-prev,
.image-slider .slick-next{
    position: absolute;
    border: none;
    top: -80px;
    background-color: var(--white);
    padding: 7px 14px;
    border-radius: 50%;
}
.image-slider .slick-prev:hover,
.image-slider .slick-next:hover{
    color: var(--white);
    background-color: var(--primary);
}
.slick-dots {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    background-color: var(--gray);
    border: none;
    outline: none;
    transition: all 0.2s linear;
}
.slick-dots .slick-active button {
    width: 30px;
    height: 10px;
    background-color: var(--primary);
}
@media (max-width: 767px){
    .card .bg-gradient-primary{
        background: var(--white) !important;
    }
}





/* section 6 */
.Our,
.our-body{
    text-align: center;
}
.social-links{
    position: relative;
}
.social-links img{
    position: relative;
    border-radius: 10px;
}
.social-links .social{
    position: absolute;
    display: none !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-links:hover .social{
    display: flex !important;
}
.social-links .social .social-network .btn-facebook:hover,
.social-links .social .social-network .btn-linkedin:hover,
.social-links .social .social-network .btn-twitter:hover{
    border: 0;
    color: var(--white);
    background-color: var(--primary);
}
@media (max-width: 991px){
    .our-body .name{
        font-size: 20px !important;
    }
    .our-body .p-CEO{
        font-size: 15px;
    }
}





/* section 7 */
.card-bg{
    position: relative;
    border-radius: 10px;
    background: linear-gradient(90deg, #6366f1 0%, #8b5cf6 50%, #d946ef 100%);
}
.card-bg .bgimg{
    position: relative;
    width: 100%;
    height: 61vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-bg .bgimg .img-body{
    position: absolute;
    top: 50px;
    left: 50%;
    margin: 50px 0;
    text-align: center;
    transform: translateX(-50%);
}
.card-bg .bgimg .img-body h3{
    font-size: 20px;
    opacity: 0.7;
}
.card-bg .bgimg .img-body .mail{
    font-size: 50px;
    font-weight: 700;
}
@media (max-width: 991px){
    .card-bg .bgimg .img-body .mail{
        font-size: 40px;
    }
}





/* section 8 */
.socialnextworks{
    text-align: center;
}
.social-icon{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}
.social-icon .icons{
    width: 180px;
}
.social-icon .icons .icon-link{
    position: relative;
    text-align: center;
}
.social-icon .icons .icon-link .btn-separate::after{
    position: absolute;
    content: "";
    display: block;
    border: 1px solid #dee2e6;
    height: 135px;
    right: 0;
    top: 0;
}
.social-icon .icons .icon-link:hover .btn{
    color: var(--white);
    background-color: var(--primary);
}
.social-icon .icons .icon-link h6{
    font-size: 20px;
}
@media (max-width: 991px){
    .socialnextworks h2 {
        font-size: 35px;
    }
}





/* footer */
.w-footer{
    text-align: unset;
}
.w-footer p{
    opacity: 0.7;
}
.w-footer .logo-footer{
    display: flex;
    align-items: center;
}
.w-footer .text-social a:hover{
    cursor: pointer !important;
    color: var(--primary);
}
@media (max-width: 991px){
    .useful,
    .text-social{
        display: none;
    }
    .w-footer p{
        text-align: center;
    }
}