a{
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
li{
    list-style-type: none;
}



/* header */
.w-header .inner{
    justify-content: space-between;
    align-items: center;
}
.w-header .inner a{
    align-items: center;
    color: var(--dark) !important;
    list-style-type: none; 
}
.w-header .inner .silicon{
    font-size: 25px;
    font-weight: 300;
}
.w-header .inner .menu-btn,
.w-header .inner .inner-header .menu{
    display: flex;
    align-items: center;
    margin: 0 !important;
}
.w-header .inner .inner-header .menu .menu-vector,  
.w-header .inner .menu-btn-buy button{
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .w-header .inner .inner-header,
    .w-header .inner .menu-btn-buy{
        display: none !important;
    }
    .w-header .inner .menu-icon{
        display: flex !important;
    }
}




/* nav */
.nav-home{
    justify-content: center;
    align-items: center;
}
.nav-home li{
    align-items: center;
}
.nav-home .cursor{
    cursor: pointer;
    font-style: none !important;
}






.sidebar{
    align-items: center;
    justify-content: space-between;
}



/* item 1 */
.digital{
    position: relative;
    border-radius: 20px;
}
.digital .bookmark-digital{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



/* item 2 */
.card-business{
    border: 1px solid var(--dark);
    border-radius: 10px;
}
.card-business .business{
    position: relative;
}
.card-business .business .bookmark-business{
    position: absolute;
    top: -30px;
    right: -30px;
    margin: 20px 20px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



/* item 3 */
.technology{
    position: relative;
}
.technology .bookmark-technology{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* item 4 */
.startups{
    position: relative;
}
.startups .bookmark-startups{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-icon{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.btn-icon .btn-a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 50%;
}
.btn-icon:hover .btn-a{
    color: var(--white) !important;
    background-color: var(--primary) !important;
}


.input-group{
    position: relative;
}
.input-group .bi-search{
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 5;
}

.nav-r{
    border: 1px solid var(--dark);
    border-radius: 10px;
}
.nav-r .nav-right{
    flex-direction: column;
    font-size: 20px;
}
.nav-r .nav-right .nav-item .nav-link:hover{
    color: var(--primary) !important;
}


/* popular */
.popular{
    position: relative;
    border-radius: 10px;
}
.popular .bg-popular{
    position: absolute ;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.popular .body-popular{
    position: relative;
}
.popular .body-popular a{
    color: var(--dark);
}
.popular .body-popular a:hover{
    color: var(--primary);
}




/* Follow */
.social .btn-facebook:hover,
.social .btn-linkedin:hover,
.social .btn-twitter:hover,
.social .btn-instagram:hover{
    border: 0;
    color: var(--white);
    background-color: var(--primary);
}



/* banner */
.banner{
    height: 550px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:991px){
    .col-right{
        display: none;
    }
}



.mess-user{
    position:absolute;
    z-index:5;
    top: 79%;    
    left: 4%;
}



/* footer */
.w-footer{
    text-align: unset;
}
.w-footer p{
    opacity: 0.7;
}
.w-footer .logo-footer{
    display: flex;
    align-items: center;
}
.w-footer .text-social a:hover{
    cursor: pointer !important;
    color: var(--primary);
}
@media (max-width: 991px){
    .useful,
    .text-social{
        display: none;
    }
    .w-footer p{
        text-align: center;
    }
}


@media (max-width: 991px){
    h1{
        font-size: 40px !important;
    }
    h2{
        font-size: 35px !important;
    }
    .mess-user{
        top: 77% !important;
        left: 5% ;
    }
}
@media (max-width: 767px){
    h2{
        font-size: 25px !important;
    }
    .mess-user{
        left: 7% !important ;
    }
}      